@charset "UTF-8";

body{
    background-image: url('https://w0.peakpx.com/wallpaper/134/43/HD-wallpaper-netflix-netflix-site.jpg');
    background-size: 700px 800px;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    color: lightgray;
}