@charset "UTF-8" ;

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(135, 253, 253, 0.644)
}
div{
    display: inline-block;
    text-align: left;
    background-color: gray;
    border: 0.5px solid black;
    height: 200px;
    width: 160px;
}

div > ul{
    display: none;

}




div:hover > ul{
    display: block;
    color: rgb(14, 7, 12);
        
}


div:hover{
    color: rgb(255, 0, 191);
}